body {
  font-family: 'Girassol', cursive;
  font-size: 20 px;
  line-height: 1.5;
}

.heading {
  color: darkgoldenrod;
}

.site-nav a {
  text-decoration: none;
  color: brown;
}

.site-nav a:hover,
.site-nav a:focus {
  color: darkcyan;
  text-decoration: underline;
}
